<div id="whatis">WHAT'S THE FUCKING<br>PRICE OF BITCOIN?</div>
<div id="price">
	GODDAMN SON IT'S FUCKING<br>
	<%= select_tag('currency', options_for_select(@currencies, "USD")) %>
	<span id="the-price"></span>
</div>
<div id="last-updated">Last updated: <span></span></div>

<div id="buy">
	<a href="http://coinbase.com">GO BUY SOME</a>
</div>
<div id="donate">
	1Evh4CZHcrkcE8kzG6BqErueQw7xbYQW3H <3
</div>