<div id="whatis">WHAT'S THE FUCKING<br>PRICE OF BITCOIN?</div>
<div id="price"></div>
<div id="last-updated">Last updated: <span></span></div>

<div id="buy">
	<a href="http://coinbase.com">GO BUY SOME</a>
</div>
<div id="donate">
	1Evh4CZHcrkcE8kzG6BqErueQw7xbYQW3H <3
</div>