<div id="whatis">WHAT'S THE FUCKING<br>PRICE OF BITCOIN?</div>
<div id="price">
	<span id="expletive">WAIT...</span>
	<br>
	<%= select_tag('currency', options_for_select(@currencies, "USD")) %>
	<span id="the-price"></span>
</div>
<div id="last-updated">Last updated: <span></span></div>

<div id="buy">
	<a href="http://coinbase.com">GO BUY SOME</a>
</div>
<div id="donate">
	<div class="cb-tip-button" data-content-location="" data-href="//www.coinbase.com/tip_buttons/show_tip" data-to-user-id="520c30176d95aea15f000044"></div>
</div>

<script>
	!function(d,s,id) {var js,cjs=d.getElementsByTagName(s)[0],e=d.getElementById(id);if(e){return;}js=d.createElement(s);js.id=id;js.src="https://www.coinbase.com/assets/tips.js";cjs.parentNode.insertBefore(js,cjs);}(document, 'script', 'coinbase-tips');
</script>
