body {
	margin-top: 100px;
	font-family: sans-serif;
	text-align: center;
	font-size: 45px;
}

div#whatis {
	font-size: 60px;
}

div#price {
	margin-top: 40px;
}

div#buy {
	margin-top: 40px;
	font-size: 18px;
}

div#donate {
	position: absolute;
	right: 5px;
	bottom: 5px;
	font-size: 10px;
}

div#last-updated {
	margin-top: 6px;
	font-size: 10px;
}