// Place all the styles related to the Site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin-top: 100px;
	font-family: sans-serif;
	text-align: center;
	font-size: 45px;
}

div#whatis {
	font-size: 60px;
}

div#price {
	margin-top: 40px;
}